/*CSS Jellyfin heme Name: Miami Retro*/
/* Variables */
:root {
    --primary-r: 7C5EFF;
    --primary-g: 6642FF;
    --primary-b: 502FDF;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: #00a4dc20;
    --primary-background-color: var(--primary-b);
    --secondary-background-color: var(--primary-b);
    --primary-background-transparent: rgba(35,35,35,0.5);
    --secondary-background-transparent: rgba(0,0,0,0.6);
    --tertiary-background-transparent: rgba(35,35,35,0.85);
    --rounded-cards: 15px;
    --blur: 10px;

    /* Alternate accents*/
    --primary-alt1: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 1);
    --primary-alt2: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.85);
    --primary-alt3: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.7);
    --primary-alt4: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.55);
    --primary-alt5: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.4);
}

/* Setting accent color variable */
.emby-checkbox:checked + span + .checkboxOutline,
.selectionCommandsPanel,
.countIndicator,
progress[aria-valuenow]:before {
    background: var(--primary-accent-color) !important;
}
progress::-moz-progress-bar {
    background: var(--primary-accent-color) !important;
}
progress::-webkit-progress-value {
    background: var(--primary-accent-color) !important;
}
.emby-checkbox:checked + span + .checkboxOutline,
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4,
.progressring-spiner {
    border-color: var(--primary-accent-color) !important;
}
.page:not(.itemDetailPage) .button-link,
.selectLabelFocused,
.textareaLabelFocused,
.inputLabelFocused,
.emby-tab-button:hover,
.metadataSidebarIcon,
.upNextDialog-countdownText,
.listItemImageButton:hover,
.button-flat:hover,
#divRunningTasks span {
    color: var(--primary-accent-color) !important;
}
@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--primary-accent-color) !important;
        background-color: var(--secondary-accent-color) !important;
    }
}
/* Dynamic colors for default cards */
.defaultCardBackground1 {
    background-color: var(--primary-alt1) !important;
}
.defaultCardBackground2 {
    background-color: var(--primary-alt2) !important;
}
.defaultCardBackground3 {
    background-color: var(--primary-alt3) !important;
}
.defaultCardBackground4 {
    background-color: var(--primary-alt4) !important;
}
.defaultCardBackground5 {
    background-color: var(--primary-alt5) !important;
}
/* Background colors */
.noBackdropTransparency .detailPagePrimaryContainer,
.noBackdropTransparency .detailPageSecondaryContainer {
    background-color: var(--primary-background-color) !important;
}

/* Fix for collection items misalignment */
.layout-desktop .collectionItems .collectionItemsContainer {
    padding-left: 0% !important;
}
.layout-desktop .collectionItems .sectionTitleContainer {
    padding-left: 0% !important;
}
/* Dynamic buttons */
.layout-desktop .navMenuOption:hover:not(.navMenuOption-selected) {
    transform: scale(1.05) !important;
}
.layout-desktop .listItem {
    transition: .2s !important;
    border-radius: var(--rounded-cards) !important;
}
.layout-desktop #myPreferencesMenuPage .listItem:hover {
    transform: scale(1.015);
}




/*login form*/  

#loginPage .readOnlyContent, #loginPage form {
    max-width: 28em;
    padding: 32px;
    background-color: #202020; /* dark gray background */
    border-radius: 20px; /* rounded corners */
}

/*Hide "please login" text, margin is to prevent login form moving too far up*/  
#loginPage h1 {display: none}  
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 80px}

/*Hide "manual" and "forgot" buttons*/  
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}  
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}



/*Stylized background*/ 
.backdropImage {
  display: none;
}

.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('https://i.ibb.co/fYrcTb89/Frame-8.png');
  filter: blur(2px);
  background-size: cover;
}

.backdropContainer {
    -webkit-backface-visibility: visible;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: visible;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    -webkit-filter: blur(15px) !important;
    -moz-filter: blur(15px) !important;
    -o-filter: blur(15px) !important;
    -ms-filter: blur(15px) !important;
    filter: blur(15px) !important;
}




/*Search page*/
.button-flat:hover,
.button-flat-accent,
.button-link {
    color: #7C5EFF !important;
}

#searchPage h2 {display: none}  

#searchPage .verticalSection.searchSuggestions {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    max-width: 60em;
    padding: 32px;
    background-color: #202020; /* dark gray background */
    border-radius: 20px; /* rounded corners */
    display: flex;
}



/* Fix for header buttons */

.layout-desktop .emby-button-foreground {
    top: -9px !important;
}
.layout-tv .emby-button-foreground {
    top: -14px !important;
}

/* Custom button color */
.navMenuOption-selected {
    background: var(--secondary-accent-color) !important;
    color: var(--primary-accent-color) !important;
}

/* Modified background color */
html,
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent),
.noBackdropTransparency .detailPageSecondaryContainer {
    background-color: var(--primary-background-color) !important;
}



/*Banner transparency and larger font, adjust both "size-adjust" and "size" to modify font size*/
.skinHeader {
    background-color: transparent !important;
}
/* Rounded header buttons */
.headerTabs, .headerRight {
    background-color: var(--primary-background-transparent) !important;
    border-radius: 50px !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.layout-desktop .headerTabs,
.layout-tv .headerTabs {
    margin-bottom: 10px !important;
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
    text-size-adjust: 110%;  
    font-size: 110%;
}
.layout-desktop .headerTabs,
.layout-tv .headerTabs {
    margin-bottom: 10px !important;
    text-size-adjust: 110%;  
    font-size: 110%;
}
.layout-desktop .headerTabs {
    margin-top: -40px !important;
    margin-right: auto;
    margin-left: auto;
    max-width: 60em;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* Button height */
.headerRight,
.emby-tab-button {
    height: 45px !important;
}
/* Lower header and add padding to right buttons */
.layout-desktop .headerRight {
    padding: 0px 5px !important;
}
.layout-tv .headerRight {
    padding: 20px 10px !important;
}
/* Move left header back up */
.layout-desktop .headerLeft
.layout-tv .headerLeft {
    position: relative !important;
    top: -17px !important;
}
/* Mobile fixes */
.layout-mobile .sectionTabs {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    max-width: 100% !important;
}
.layout-mobile .emby-button-foreground {
    top: -2px !important;
}
.layout-mobile .skinHeader {
    transition: .1s !important;
}
.layout-mobile .mainDrawer {
    background: var(--secondary-background-color) !important;
}
.layout-mobile .headroom--unpinned {
    transform: none;
}
.layout-mobile .headroom--unpinned:has(.headerTabs.sectionTabs:not(.hide))  {
    transform: translateY(-50%);
}
.layout-mobile .headroom--not-top {
    background: var(--primary-background-transparent) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.layout-mobile .headroom--not-top .headerRight {
    background: none !important;
}
.layout-mobile .headroom--top,
.layout-mobile .headroom--not-top:has(.headerTabs.sectionTabs:not(.hide)) {
    background: transparent !important;
    backdrop-filter: none !important;
}
.layout-mobile .headroom--top .headerRight ,
.layout-mobile .headroom--not-top:has(.headerTabs.sectionTabs:not(.hide)) .headerRight {
    background: var(--primary-background-transparent) !important;
}
@media (max-width: 380px) {
    .layout-mobile .pageTitle:not(.pageTitleWithLogo):not(:empty) {
        position: absolute !important;
        margin-left: 50% !important;
        transform: translate(-50%, 0) !important;
        top: 60px !important;
    }
    .layout-mobile .headerTop:has(.pageTitle:not(.pageTitleWithLogo):not(:empty)) {
        -webkit-align-items: start !important;
        align-items: start !important;
    }
    .layout-mobile .skinHeader:has(.pageTitle:not(.pageTitleWithLogo):not(:empty)) {
        height: 110px !important;
    }
    .layout-mobile .skinHeader:has(.pageTitle:not(.pageTitleWithLogo):not(:empty)):has(.sectionTabs:not(.hide)) {
        height: 140px !important;
    }
    .layout-mobile .libraryPage:not(.noSecondaryNavPage) {
        padding-top: 9.5em !important;
    }
    .layout-mobile .headroom--unpinned:has(.headerTabs.sectionTabs:not(.hide)):has(.pageTitle:not(.pageTitleWithLogo):not(:empty)) {
        transform: translateY(-60%);
    }
}


.mdl-slider { color: var(--primary-accent-color); }
.mdl-slider::-webkit-slider-thumb { color: var(--primary-accent-color); }
.mdl-slider::-ms-thumb { background: var(--primary-accent-color); }
.mdl-slider::-webkit-slider-thumb { background: var(--primary-accent-color) }
.mdl-slider::-moz-range-thumb { background: var(--primary-accent-color) }
.mdl-slider-background-lower { color: var(--primary-accent-color); background-color: var(--primary-accent-color); }
.mdl-slider::-moz-range-progress { color: var(--primary-accent-color); }
.skinHeader-withBackground { background-color: var(--primary-accent-color) !important; }
.navMenuOption-selected { background: var(--primary-accent-color) !important; }
a.navMenuOption-selected { background: var(--primary-accent-color) !important; }
.button-submit { background: var(--primary-accent-color) !important; }
.button-link { color: var(--primary-accent-color) !important; }
.listItemIcon:not(.listItemIcon-transparent) { background-color: var(--primary-accent-color) !important; }
.emby-checkbox:checked+span+span+.checkboxOutline, .itemProgressBarForeground { background-color: var(--primary-accent-color) !important; }
.emby-checkbox:checked+span+span+.checkboxOutline { border-color: var(--primary-accent-color) !important; }
.inputLabelFocused, .selectLabelFocused, .textareaLabelFocused { color: var(--primary-accent-color); }
.iconOsdProgressInner { background: var(--primary-accent-color) !important; }
.card { cursor: unset !important; }
.cardOverlayContainer { cursor: pointer !important };
.mdl-switch:focus, .mdl-switch__input:focus, .noautofocus:focus { outline: rgba(49, 102, 54, 0.5) auto 1px !important; };


div[data-role=controlgroup] a.ui-btn-active {
    background: #7C5EFF !important;
}


.appfooter {
    background: #0c0c0c !important;
}


.dialog {border-radius: 6px !important; background-color: rgba(0, 0, 0, 0.9);}
.actionSheetMenuItem:hover {background-color: rgba(49, 102, 54, 0.5);}
.mainDrawer {background-color: rgba(0, 0, 0, 0.9);}
.navMenuOption:hover {background: rgba(49, 102, 54, 0.5);}

::-webkit-scrollbar-track-piece {
    background-color: #272727 !important;
}

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
    -webkit-border-radius: 2px;
    background: center no-repeat #404040 !important;
}

.repeatButton-active {
    color: #6642FF !important;
}

.downloadbutton-icon-complete,
.downloadbutton-icon-on {
    color: #6642FF !important;
}

.programCell-kids {
    background: #6642FF !important
}

.defaultCardBackground2 {
    background-color: #6642FF
}

.wizardStartForm,
.ui-corner-all,
.ui-shadow {
  background-color: #502FDF !important;
}
.skinHeader-withBackground {
    background-color: #502FDF !important;
}
.paper-icon-button-light:focus {
    color: #6642FF !important;
}
.button-submit {
    background: #6642FF !important;
}

.button-submit:focus {
    background: #6642FF
}

.inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #6642FF !important;
}

.itemSelectionPanel {
    border: 1px solid #7C5EFF !important;
}

.selectionCommandsPanel {
    background: #7C5EFF !important;
}

.upNextDialog-countdownText {
    color: #7C5EFF !important;
}

.alphaPickerButton-tv:focus {
    background-color: #7C5EFF !important;
}
.progressring-spiner {
    border-color: #7C5EFF !important;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #7C5EFF !important;
}
.emby-select-withcolor:focus {
    border-color: #7C5EFF !important
}

select.emby-select-withcolor:focus {
    border-color: #7C5EFF !important
}

.emby-select-tv-withcolor:focus {
    background-color: #7C5EFF !important;
}

.emby-checkbox:checked+span+span+.checkboxOutline {
    border-color: #7C5EFF !important;
}
.emby-checkbox:checked+span+span+.checkboxOutline,
.itemProgressBarForeground {
    background-color: #7C5EFF !important;
}
.countIndicator,
.playedIndicator {
    background: #429101 !important;
}

.fullSyncIndicator {
    background: #316636 !important;
}

.navMenuOption-selected {
    background: #316636 !important;
}

.emby-button-focusscale:focus {
    background: #316636 !important;
}
.guide-channelHeaderCell:focus,
.programCell:focus {
    background-color: #316636 !important;
}

.guide-date-tab-button.emby-tab-button-active,
.guide-date-tab-button:focus {
    color: #316636 !important;
}

.guide-date-tab-button.emby-button-tv:focus {
    background-color: #316636 !important;
}

.ratingbutton-icon-withrating {
    color: #316636 !important;
}

.playstatebutton-icon-played {
    color: #316636 !important;
}

.card:focus .card-focuscontent {
    border-color: #316636 !important;
}

.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__thumb {
    background: #316636 !important;
}

.mdl-switch__input:checked:focus + .mdl-switch__label + .mdl-switch__trackContainer .mdl-switch__focus-helper {
    box-shadow: 0 0 0 1.39em rgba(49, 102, 54, 0.26);
    background-color: rgba(49, 102, 54, 0.5) !important;
}

.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
    background: rgba(49, 102, 54, 0.5) !important;
}

.paper-icon-button-light:focus,
.paper-icon-button-light:hover:not(:disabled) {
    color: #316636 !important;
    background-color: rgba(49, 102, 54, .2) !important;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred .paper-icon-button-light:hover:not(:disabled) {
    color: #316636 !important;
    background-color: rgba(255, 255, 255, .7) !important;
}

input:focus input[type=checkbox]:focus {
    color: #316636 !important;
    background-color: rgba(49, 102, 54, 0) !important;
}

:root {
    --swiper-theme-color: #502FDF !important;
}
.buttonActive {
    color: #502FDF !important;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
    background: none !important; 
    background-color: rgba(0, 40, 40, 40, 0.9) !important;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
    background: none !important; 
    background-color: rgba(40, 40, 40, 0.9) !important;
}
.emby-tab-button.show-focus:focus,.emby-tab-button:hover {
    color: #316636 !important;
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred .paper-icon-button-light:hover:not(:disabled) {
    color: #502FDF !important;
    background-color: rgba(49, 102, 54, .2) !important;
}
.emby-checkbox:checked, .checkboxOutline, .checkboxIcon-checked {
	color: #429101 !important;
	background-color: rgba(41, 41, 41, 1) !important;
	border-color: rgba(150, 150, 150, 1) !important;
}
