/*CSS Jellyfin heme Name: Miami Retro*/
/* Variables */
:root {
    --primary-r: 157;
    --primary-g: 134;
    --primary-b: 255;
    --primary-accent-color: rgba(var(--primary-r), var(--primary-g), var(--primary-b), 1.0);
    --secondary-accent-color: #6642FF;
    --primary-background-color: rgba(4,3,7,0.6);
    --secondary-background-color: rgba(30,23,58,0.2);
    --primary-background-transparent: rgba(35,35,35,0.5);
    --secondary-background-transparent: rgba(0,0,0,0.6);
    --tertiary-background-transparent: rgba(35,35,35,0.85);
    --rounded-cards: 15px;
    --blur: 10px;
    
    /* Alternate accents*/
    --primary-alt1: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 1);
    --primary-alt2: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.85);
    --primary-alt3: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.7);
    --primary-alt4: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.55);
    --primary-alt5: rgb(calc(var(--primary-r) - 30), calc(var(--primary-g) - 30), calc(var(--primary-b) - 30), 0.4);
}

/* Setting accent color variable */
.emby-checkbox:checked + span + .checkboxOutline,
.selectionCommandsPanel,
.countIndicator,
progress[aria-valuenow]:before {
    background: var(--primary-accent-color) !important;
}
progress::-moz-progress-bar {
    background: var(--primary-accent-color) !important;
}
progress::-webkit-progress-value {
    background: var(--primary-accent-color) !important;
}
.emby-checkbox:checked + span + .checkboxOutline,
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4,
.progressring-spiner {
    border-color: var(--primary-accent-color) !important;
}
.page:not(.itemDetailPage) .button-link,
.selectLabelFocused,
.textareaLabelFocused,
.inputLabelFocused,
.emby-tab-button:hover,
.metadataSidebarIcon,
.upNextDialog-countdownText,
.listItemImageButton:hover,
.button-flat:hover,
#divRunningTasks span {
    color: var(--primary-accent-color) !important;
}
@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--primary-accent-color) !important;
        background-color: var(--primary-background-color) !important;
    }
}
/* Dynamic colors for default cards */
.defaultCardBackground1 {
    background-color: var(--primary-alt1) !important;
}
.defaultCardBackground2 {
    background-color: var(--primary-alt2) !important;
}
.defaultCardBackground3 {
    background-color: var(--primary-alt3) !important;
}
.defaultCardBackground4 {
    background-color: var(--primary-alt4) !important;
}
.defaultCardBackground5 {
    background-color: var(--primary-alt5) !important;
}
/* Background colors */
.noBackdropTransparency .detailPagePrimaryContainer,
.noBackdropTransparency .detailPageSecondaryContainer {
    background-color: var(--primary-background-color) !important;
}

/* Fix for collection items misalignment */
.layout-desktop .collectionItems .collectionItemsContainer {
    padding-left: 0% !important;
}
.layout-desktop .collectionItems .sectionTitleContainer {
    padding-left: 0% !important;
}
/* Dynamic buttons */
.layout-desktop .navMenuOption:hover:not(.navMenuOption-selected) {
    transform: scale(1.05) !important;
}
.layout-desktop .listItem {
    transition: .2s !important;
    border-radius: var(--rounded-cards) !important;
}
.layout-desktop #myPreferencesMenuPage .listItem:hover {
    transform: scale(1.015);
}




/*login form*/  

#loginPage .readOnlyContent, #loginPage form {
    max-width: 28em;
    padding: 32px;
    background-color: #202020; /* dark gray background */
    border-radius: 20px; /* rounded corners */
}
 
#loginPage .button-submit {
    background-color: var(--secondary-accent-color) !important;
}

/*Hide "please login" text, margin is to prevent login form moving too far up*/  
#loginPage h1 {display: none}  
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 80px}

/*Hide "manual" and "forgot" buttons*/  
#loginPage .raised.cancel.block.btnManual.emby-button {display: none}  
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}



/*Stylized background*/ 
.backdropImage {
  display: none;
}

.backgroundContainer {
  background-color: rgba(0, 0, 0, 100);
  background-image: url('https://i.ibb.co/zTSgG3rX/grayscale-circles-3840x2160-18964.jpg');
  filter: blur(4px) brightness(60%);
  background-size: cover;
  transform: scale(1.1);
}

.backdropContainer {
    -webkit-backface-visibility: visible;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: visible;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
    -webkit-filter: blur(15px) !important;
    -moz-filter: blur(15px) !important;
    -o-filter: blur(15px) !important;
    -ms-filter: blur(15px) !important;
    filter: blur(15px) !important;
}

.backgroundContainer:after {
  /* content is required when using :after */
  content: "";
  position: fixed;
  animation: grain 8s steps(10) infinite;
  background-image: url("https://i.ibb.co/65FCq2k/paper-1.png");
  height: 300%;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  top: -100%;
  width: 300%;
  filter: brightness(70%);
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

/*Search page*/
.button-flat:hover,
.button-flat-accent,
.button-link {
    color: #9D86FF !important;
}

#searchPage h2 {display: none}  

#searchPage .verticalSection.searchSuggestions {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    max-width: 60em;
    padding: 32px;
    background-color: #202020; /* dark gray background */
    border-radius: 20px; /* rounded corners */
    display: flex;
}



/* Fix for header buttons */

.layout-desktop .emby-button-foreground {
    top: -9px !important;
}
.layout-tv .emby-button-foreground {
    top: -14px !important;
}

/* Custom button color */
.navMenuOption-selected {
    background: var(--secondary-accent-color) !important;
    color: var(--primary-accent-color) !important;
}

/* Modified background color */
html,
.backgroundContainer:not(.withBackdrop):not(.backgroundContainer-transparent),
.noBackdropTransparency .detailPageSecondaryContainer {
    background-color: var(--primary-background-color) !important;
}



/*Banner transparency and larger font, adjust both "size-adjust" and "size" to modify font size*/
.skinHeader {
    background-color: transparent !important;
}
/* Rounded header buttons */
.headerTabs, .headerRight {
    background-color: var(--primary-background-transparent) !important;
    border-radius: 50px !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.layout-desktop .headerTabs,
.layout-tv .headerTabs {
    max-width: 60em;
    margin-right: auto;
    margin-left: auto;
    text-size-adjust: 110%;  
    font-size: 90%;
}
.layout-desktop .headerTabs {
    margin-top: -40px !important;
    margin-right: auto;
    margin-left: auto;
    max-width: 60em;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* Button height */
.headerRight,
.emby-tab-button {
    height: 45px !important;
}
/* Lower header and add padding to right buttons */
.layout-desktop .headerRight {
    padding: 0px 5px !important;
}
.layout-tv .headerRight {
    padding: 20px 10px !important;
}
/* Move left header back up */
.layout-desktop .headerLeft
.layout-tv .headerLeft {
    position: relative !important;
    top: -17px !important;
}
/* Mobile fixes */
.layout-mobile .sectionTabs {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    max-width: 100% !important;
}
.layout-mobile .emby-button-foreground {
    top: -2px !important;
}
.layout-mobile .skinHeader {
    transition: .1s !important;
}
.layout-mobile .mainDrawer {
    background: var(--secondary-background-color) !important;
}
.layout-mobile .headroom--unpinned {
    transform: none;
}
.layout-mobile .headroom--unpinned:has(.headerTabs.sectionTabs:not(.hide))  {
    transform: translateY(-50%);
}
.layout-mobile .headroom--not-top {
    background: var(--primary-background-transparent) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.layout-mobile .headroom--not-top .headerRight {
    background: none !important;
}
.layout-mobile .headroom--top,
.layout-mobile .headroom--not-top:has(.headerTabs.sectionTabs:not(.hide)) {
    background: transparent !important;
    backdrop-filter: none !important;
}
.layout-mobile .headroom--top .headerRight ,
.layout-mobile .headroom--not-top:has(.headerTabs.sectionTabs:not(.hide)) .headerRight {
    background: var(--primary-background-transparent) !important;
}
@media (max-width: 380px) {
    .layout-mobile .pageTitle:not(.pageTitleWithLogo):not(:empty) {
        position: absolute !important;
        margin-left: 50% !important;
        transform: translate(-50%, 0) !important;
        top: 60px !important;
    }
    .layout-mobile .headerTop:has(.pageTitle:not(.pageTitleWithLogo):not(:empty)) {
        -webkit-align-items: start !important;
        align-items: start !important;
    }
    .layout-mobile .skinHeader:has(.pageTitle:not(.pageTitleWithLogo):not(:empty)) {
        height: 110px !important;
    }
    .layout-mobile .skinHeader:has(.pageTitle:not(.pageTitleWithLogo):not(:empty)):has(.sectionTabs:not(.hide)) {
        height: 140px !important;
    }
    .layout-mobile .libraryPage:not(.noSecondaryNavPage) {
        padding-top: 9.5em !important;
    }
    .layout-mobile .headroom--unpinned:has(.headerTabs.sectionTabs:not(.hide)):has(.pageTitle:not(.pageTitleWithLogo):not(:empty)) {
        transform: translateY(-60%);
    }
}
